body{
	background: url(https://besthqwallpapers.com/Temp/28-5-2021/abstract-computer-patterns-4k-violet-abstract-backgrounds-creative-computer-symbols-besthqwallpapers.com-1366x768.jpg) #CCC no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;

	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
   }



.centrado {

background: #E3E3E3 ;
border-radius: 20px;
	height: 1700px;
	margin: 2rem auto;
	text-align: left;
	width: 700px;   
}

h1{

text-align:center;
color: #000;

font-family: impact;
font-size: 36px;
line-height: 100%;
letter-spacing: 4px;
text-shadow: -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff, 2px 2px 0px #fff;
}
   
h2{
	font-family: Open Sans;
    font-size: 1.9rem;
    font-weight: 700;
    color: #25374f;
    margin-top: 0;
    margin-bottom: 0;
}
h3{
	font-family: Open Sans;
    font-size: 1.6rem;
    font-weight: 700;
    color: #00378A;

    margin-top: 0;
    margin-bottom: 0;
}
.texto1{


font-family: Roboto;
    font-size: 1.0rem;
    font-weight: 500;
    color: #25374f;
    text-transform: uppercase;
    margin-bottom: 8px;
    letter-spacing: .5px;
}
.texto2{


    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 500;
    color: #1b2738;


}
.img1{
	display:block;
margin:auto;
}
.texto6{


    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 500;
    color: #1b2738;
}
.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-text-size-adjust: 100%;
}

h4{
	color: #FCDB00;
font-family: impact;
font-size: 40px;
text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
-webkit-text-fill-color: #FCDB00;
-webkit-text-stroke: 2px black;  
}
.texto7{


    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 500;
    color: #E72424 
;   }

.boton1{
	text-overflow: center;
   
    padding: 5px 5px;
    color: #FCDB00; 
    font-family: impact;
    text-decoration: none;
    font-size: 40px;
    
    font-size: 40px;
text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
-webkit-text-fill-color: #FFFFFF 
 
;
-webkit-text-stroke: 2px black; 
}